{% extends 'base.html.twig' %}

{% block title %}Hello YourListItemsController!{% endblock %}

{% block body %}
<a href="{{ path('create_item', {'id':id}) }}" class="btn btn-info">Create new item</a>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <div class="card-header">Your items </div>
          {% if app.user != null %}
            {% if app.user.locked != 0 %}
              <p>Your account is blocked!!! </p>
            {% else %}
            <table class="table">
              <tr>
                <th>Item name</th>
              </tr>
              {% for item in item %}
              <tr>
                <td>
                  {{item.name}}
                </td>
              </tr>
              {% endfor %}
            </table>
            {% endif %}
          {% endif %}
        </div>
      </div>
      {% if app.user == null %}
      <a href="{{ path('app_login') }}" class="btn btn-info">
        You need to login to see the list >>
        </a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
