{# templates/list/index.html.twig #} {% extends 'base.html.twig' %} {% block
body %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <div class="card-header">Items</div>
          <table class="table">
            <tr>
              <th>Item Name</th>
            </tr>
            {% for items in items %}
            <tr>
              <td>{{ items.nameItem }}</td>
            </tr> 
            {% endfor %} 
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
